# Ignore large data files
/data/*
!*/.gitkeep  # Keep this to ensure empty folders can be tracked

# Ignore processed data files
/data/processed/*

# Ignore model files if you're saving any machine learning models
/models/*
*.h5
*.pkl
*.joblib

# Ignore log files and temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore cache and compiled Python files
__pycache__/
*.py[cod]

# Ignore environment files (virtualenv, etc.)
env/
venv/
*.env
*.venv/

# Ignore generated reports and large outputs
/reports/*

# Ignore large CSV and Excel files (if applicable)
*.csv
*.xls
*.xlsx

# Ignore zip or other compressed files
*.zip
*.tar.gz
*.rar
# Ignore Jupyter, Lab, and Stat directories
jupyter/
lab/
stat/
*.new_venv/
*./new_venv/

